<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        <link rel="stylesheet" href="test.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=" ">
    </head>
    <body>
        <div id="a">
            <h1>color white</h1>
        </div> 
        <script src="/Users/abdulhodiy/PycharmProjects/my-project/app/static/css/js/app.js" async defer></script>
        <button onclick="dark_mod()">dark</button>
       <button onclick="white_mod()">white</button>
      <input type="checkbox">
        <span class="check"></span>
    <!-- <video controls src="./2023-02-08 03.58.19.mp4"></video>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, vero.</h1> -->
    </body>
</html>