<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="popup.css">
    <script src="popup.js"></script>
    <title>popup</title>
</head>
<body>
    <div class="new">
        <div id="popup">
            <video src="./2023-02-08 03.58.19.mp4" controls></video>
            ipsum dolor sit amet consectetur adipisicing elit. Ducimus nihil hic ea provident voluptate rem qui deleniti molestias maxime corrupti in magnam odit nostrum dignissimos, nam aliquid ipsa veritatis vero nisi adipisci aliquam saepe. Rerum fugit veritatis tenetur quidem rem deserunt expedita. Iste veritatis illum dolorum provident, qui, impedit suscipit saepe sequi animi, eos rerum labore expedita corporis placeat aperiam?</p>
            <a href="#" onclick="toogle()">singin</a>
        </div>
        <div class="container3" id="popcont">
            <div class="content">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptatem?</h2>
                <a href="#" onclick="toogle()">singin</a>
            </div>
        </div>
    </div>

</body>
</html>